*{
    font-family: 'Open Sans', sans-serif;
}
.banner{
    background-image: url('/images/donation5.jpg');
    background-size: cover;
    align-items: center;
}
.banner-title{
    color: white;
    font-size: 40px;
}
.banner-description{

}
.btn-primary{
    color: white;
    background-color: rgb(238, 78, 78);
}